<header class="jumbotron mainheader">
	<%= render "welcome/menulocal" %>
  	<h1>Генератор документации для Rest API</h1>
  	<p><a class="btn btn-primary btn-lg" href="editor/index" role="button">Узнать больше</a></p>
</header>
