<form>
	<header>
	<h1>Название</h1>
</header>
	<main>
		<div id="paths">
  			<h2>Пути</h2>
    		<div class="btn-group">
				<button type="button" class="btn btn-success">название файла</button>
			</div>
    		<div>
  				<br>
  				<span class="divider">/</span> путь
			</div>
			<div class="panel panel-info">
  				<div class="panel-heading">Panel heading without title</div>
  				<div class="panel-body">
    			Panel content
  				</div>
			</div>
    	</div>

    	
    	<div id="models">
  			<h2>Модели</h2>
  			{
			<table class="model">
				<tr>
					<td class="col1">count</td>
					<td class="col2">integer</td>
				</tr>
				<tr>
					<td class="col1">history</td>
					<td class="col2">[]</td>
				</tr>
				<tr>
					<td class="col1">limit</td>
					<td class="col2">offset</td>
				</tr>
			</table>
			}
  		</div>
	</main>
</form>