<nav class="editorheader">
 	<ul class="nav nav-pills">
  		<li class="dropdown">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Файл <span class="caret"></span></a>
    <ul class="dropdown-menu">
    	<li><a href="#myModalUrl" role="button" class="btn" data-toggle="modal">Импорт URL</a></li>
    	<li><a href="#myModalFile" role="button" class="btn" data-toggle="modal">Загрузка из файла</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Помощь
    </a>
  </li>
</ul>
</nav>
