<header class="navbar navbar-inverse navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Home', :root %>
                </li>
                <li class="active">
                    <%= link_to 'Documentation', :site_doc %>
                </li>
                <li>
                    <%= link_to 'Editor', :site_editor %>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Section 1</h3>
            <hr/>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <pre>Some code will be there</pre>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <h3>Section 2</h3>
            <hr/>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <pre>Some code will be there</pre>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
        </div>
    </div>
</div>
