<div ng-controller="DashboardEditorCtrl">
  <%= render 'layouts/menu', active: 'editor' %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Uranium editor</h2>
        <hr/>
      </div>
      <div class="col-md-6">
        <pre class="api-editor" data-ng-model="editor" doc-editor="" editor-data="<%= render template: 'templates/example_doc.html' %>"></pre>
      </div>
      <div class="col-md-6">
        <div class="decay_result" ng-bind-html="template.source"></div>
        <div ng-if="template.message.length" role="alert" class="alert alert-danger fade in">
          <h4>Error</h4>
          <p>{{template.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>