<header class="jumbotron jumbotron-inverse mainheader">
    <div class="text-center">
        <%= image_tag "main_logo.png" %>
        <h1>RESTful API Documentor</h1>
        <br/>
        <a class="btn btn-danger btn-lg" href="editor/index" role="button">Try it now!</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a class="btn btn-success btn-lg" href="editor/index" role="button">Read docs</a></p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>A useful interface to your RESTful API</h3>
            <br/>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-offset-1 col-md-3 text-center">
            <%= image_tag "features_1.png" %>
            <p>
                Human readable YAML config file.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag "features_2.png" %>
            <p>
                Simple install and use
            </p>
        </div>
        <div class="col-md-3 text-center">
            <%= image_tag "features_3.png" %>
            <p>
                Online editor
            </p>
        </div>
    </div>
    <br/>
     <div class="row">
        <div class="col-md-12">
            <h3>Get Started</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <pre>Some code will be there</pre>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
